<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  
   <p>
    Splurty was built by <a target="_blank" href="http://github.com/KelliGivens">Kelli</a> a novice web developer who is on a mission to learn the technical skills needed to launch her own MVPs and turn ideas into reality.
  <p>
   She is currenty a student at The Firehose Project, Codeacademy and 'self-taught'through online bootcamps, hours of reading and dreaming.
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Kelli.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kelli Givens</h2>
      <br />
      <p>
        Kelli Givens is a new coder focusing on full-stack development. She owned a graphic design business and 50 franchise restaurants in NYC before retiring at age 39. In 2001, she sold everything to travel throughout Africa working in various charities. She combines her extensive business experience with Ruby, Rails and JavaScript to build web applications assisting organizations to operate efficiently.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />